body {
  background-color: rgb(14, 14, 14);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  color: white;
  font-family: Verdana;
}
a {
  color: white;
  font-family: Verdana;
}

h3 {
  font-size: 18px;
  font-family: Verdana;
  color: white;
}
h4 {
  font-size: 20px;
  font-family: Verdana;
  color: white;
}

.image-container {
  background-color: rgb(34, 34, 34);
}
h1 {
  color: rgb(136, 136, 136);
}
.mybutton {
  font-size: large;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-family: Verdana;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(192, 161, 60);
  margin-top: 5px;
  position: relative;
  bottom: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}
.mybutton:hover {
  background-color: rgb(255, 197, 7);
}
.button-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.icon {
  border: 2px solid rgb(34, 34, 34);
}
.btn {
  margin-top: 20px;
}
